.UnderConstruction-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
}
.UnderConstruction-container img{
    width: 100vw;
    height: 60vh;
    object-fit: contain;
}
